<!DOCTYPE html>
<html>
  <head>
    <title>Flash Cards</title>
    <!-- We've provided some styles for you, aren't we nice? -->
    <link rel="stylesheet" type="text/css" href="reset.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="angular.js"></script>
  	<script src="app.js"></script>
  </head>
  <body ng-app="FlashCards">
  	<!-- {{ 2+2 }} -->
  	
  	<div ng-controller="MainController" >
  		<div class="flash-card" ng-repeat="flashCard in flashCards">
	    	<h1>{{ flashCard.question }}</h1>
		    <ul class="flash-card-answers">
		        <li class="flash-card-answer" ng-repeat="answer in flashCard.answers" ng-click="answerQuestion(flashCard, answer)">
		          {{answer.text}}
		        </li>
		    </ul>
				<h2 class="answer-feedback" ng-class="flashCard.answeredCorrectly ? 'correct' : 'incorrect'" ng-show="flashCard.answered">
			    <span ng-show="flashCard.answeredCorrectly">Yeah, you got it right!</span>
			    <span ng-show="!flashCard.answeredCorrectly">Nope, you got it wrong.</span>
				</h2>
			</div>
		</div>
  	
  	<!-- <div ng-controller="MainController" ng-repeat="flashCard in flashCards">
  		{{ flashCards}}

  		
  	</div> -->

  </body>
</html>